@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <a asp-page="./Restaurants/List" class="btn btn-primary btn-lg">Let's Eat!</a>
    <img src="~/images/Lobster_Large.jpg" alt="Lobster" class="img-fluid"/>
</div>
